<ion-view>
    <!-- Profile and Notification icons -->
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-contact larger no-animate" ng-click="vm.selectPictureFromGallery()" ng-if="!vm.$storage.profilePictureUrl"></button>
        <div class="item profile-picture no-animate" ng-click="vm.showProfilePictureAction()" ng-if="vm.$storage.profilePictureUrl">
            <img id="profile-picture" ng-src="{{vm.$storage.profilePictureUrl}}">
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-bell larger" ng-click="vm.goToMessages()">
            <div class="alert-badge icon" ng-if="vm.$storage.newMessages > 0"></div>
        </button>
    </ion-nav-buttons>
    
    <ion-content class="paddingx">
      <div class="jumbotron-logo"></div>
      <h2 class="text-center positive">Full stack challenge</h2>

    </ion-content>

  </ion-view>
  