/** === MAIN CONTENT and HOME === **/
.bar.bar-header {
    background: rgba(255,255,255,0);
    border-bottom-width: 0;
    height: 60px;
}

/* Increasing button size **/
.bar.bar-header .button {
    padding: 16px;
}

.bar.bar-header .larger::before {
    font-size: 42px;
}

.jumbotron-logo {
    background: url("../img/Youper-Logo-Circle-120x120.png") no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
}

ion-content.has-header {
    padding-top: 40px;
}

/* === MESSAGES === */
.messages-container {
    margin: 0 25px;
}
.card {
    border-radius: 15px;
}
.card .header-info {
    color: #888;
    margin-bottom: 16px;
}